{% extends "base.html" %} {% load static %} {% block title %}Active Sastre-Reset Password {% endblock title %} {% block main_body %}
<section>
    {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
             {% for message in messages %} {{message}} {% endfor %}.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <div class="header">
        <h1>Log In / Sign Up</h1>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-8 register mx-auto">
                <h4 class="fs-2">Reset Your Forgaten Password</h4>
                <hr>
                <h6 class="fs-5 my-3">Please provide all required details to confirm that is you</h6>
                <form action="/password_reset_done/{{user.id}}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label for="newpassword">New Password</label>
                        <input class="form-control my-2" type="hidden" required name="newpassword" id="newpassword" >
                        <input class="form-control my-2" type="hidden" required name="newpassword" id="newpassword" >
                        <input class="form-control my-2" type="text" required name="newpassword" id="newpassword" >
                        <label for="conpassword">Confirm New Password</label>
                        <input class="form-control my-2" type="text" required name="conpassword" id="conpassword">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save
                            Changes</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock main_body %}