{% extends "base.html" %} {% load static %} {% block title %}Active Sastre-About Us {% endblock title %} {% block active1 %} active {% endblock active1 %} {% block main_body %}
<section>
    <div class="header">
        <h1>About Us</h1>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-8 register mx-auto">
                <h4 class="fs-2 my-2">Company Overview</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempora delectus perspiciatis veniam atque reiciendis dicta, libero distinctio aliquam ab id molestiae dolore nihil eaque non voluptas cum sit praesentium numquam ad vitae cupiditate
                    porro sequi velit. Non ea aliquid impedit consectetur id obcaecati ipsam distinctio praesentium, culpa sunt voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ex aliquam eveniet accusantium cupiditate facere
                    praesentium obcaecati! Reiciendis numquam qui laborum temporibus perspiciatis vitae maxime, cumque laudantium, necessitatibus, unde ullam enim. Dolorum.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                </ul>
                <h4 class="fs-2 my-4">Lorem ipsum dolor sit amet.</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempora delectus perspiciatis veniam atque reiciendis dicta, libero distinctio aliquam ab id molestiae dolore nihil eaque non voluptas cum sit praesentium numquam ad vitae cupiditate
                    porro sequi velit. Non ea aliquid impedit consectetur id obcaecati ipsam distinctio praesentium, culpa sunt voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ex aliquam eveniet accusantium cupiditate facere
                    praesentium obcaecati! Reiciendis numquam qui laborum temporibus perspiciatis vitae maxime, cumque laudantium, necessitatibus, unde ullam enim. Dolorum.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
                <div class="signup abta py-4">
                    <a href="index.html">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_body %}