{% extends "base.html" %} {% load static %} {% block title %}Active Sastre-Profile {% endblock title %} {% block main_body %}
<section>
    {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
             {% for message in messages %} {{message}} {% endfor %}.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <div class="header">
        <h1> My Profile</h1>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-sm-6 signup">
                <h4 class="fs-2">Welcome,{{get_user.first_name}} {{get_user.last_name}}</h4>
                <h5 class="fs-4 my-2">Your Details</h5>
                <hr>
                <h6 class="fs-5 mb-4">{{get_user.first_name}}  {{get_user.last_name}}</h6>
                <h6 class="fs-5">+91 {{get_profile.phone}}</h6>
                <h6 class="fs-5 mb-5">Email:{{get_user.email}}</h6>
                <a href="#" class="m-3" data-bs-toggle="modal" data-bs-target="#Detail">Edit Details</a>
                <a href="#" data-bs-toggle="modal" data-bs-target="#password">Change Password</a>

            </div>
            <div class="col-sm-6 pro-dtls" style="z-index: 0;">
                <h3 class="fs-2 my-4">Sizes:</h3>
                <hr><br> 
                {% if totalsize < 7 %}
                    <a style="margin-bottom: 5px;" href="/add_size">New Size</a>
                {% endif %}
                {% for size in size %}
                    <a style="margin-bottom: 5px;" href="/view_size/{{size.id}}">{{size.name}} , design:-{{size.design_type}}</a> 
                {% endfor %}
                <h3 class="fs-2 my-4">Addresses:</h3>
                <hr>
                <br>
                {% if totaladdress < 5 %}
                <a href="#" data-bs-toggle="modal" data-bs-target="#add-2">
                    New Address
                </a>
                {% endif %}
                {% for address in address %}
                    <a href="#" data-bs-toggle="modal" data-bs-target="#add-{{address.id}}">{{address.name}}</a> 
                {% endfor %}
                        <!-- <a href="#" data-bs-toggle="modal" data-bs-target="#add-3">Delhi</a> -->
            </div>
        </div>
    </div>

    <!-- Modals Start -->

    <!-- User Details -->
    <div class="modal pro-dtls fade" id="Detail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="passwordLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DetailLabel">Details</h5>
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="change_profile/{{get_user.id}}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label for="FName">First Name</label>
                        <input class="form-control my-2" type="text" name="fname" id="FName" value="{{get_user.first_name}}">
                        <label for="LName">Last Name</label>
                        <input class="form-control my-2" type="text" name="lname" id="LName" value="{{get_user.last_name}}">
                        <label for="Email">Email</label>
                        <input class="form-control my-2" type="email" name="email" id="Email" value="{{get_user.email}}">
                        <label for="Tel">Mobile Number</label>
                        <input class="form-control my-2" type="tel" name="mobile" id="Tel" value="{{get_profile.phone}}">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save
                            Changes</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal pro-dtls fade" id="password" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="DetailLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DetailLabel">Details</h5>
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="change_password/{{get_user.id}}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label for="FName">Old Password</label>
                        <input class="form-control my-2" type="password" required name="oldpassword" id="oldpassword" >
                        <label for="LName">New Password</label>
                        <input class="form-control my-2" type="text" required name="newpassword" id="newpassword" >
                        <label for="Email">Confirm New Password</label>
                        <input class="form-control my-2" type="text" required name="conpassword" id="conpassword">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save
                            Changes</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Address-1 -->
    {% for address in address %}
    <div class="modal fade pro-dtls" id="add-{{address.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add-1Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-1Label">Address</h5>
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="change_address/{{address.id}}" , method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label for="Name">Name</label>
                        <input class="form-control my-2" type="text" name="addname" id="Name" value="{{address.name}}">
                        <label for="Tel">Mobile Number</label>
                        <input class="form-control my-2" type="tel" name="mobile" id="Tel" value="{{address.contact_no}}">
                        <label for="pin">Pin Code</label>
                        <input class="form-control my-2" type="number" min="0" step="any" name="pin" id="pin" value="{{address.pin_code}}">
                        <label for="State">State</label>
                        <input class="form-control my-2" type="text" name="state" id="State" value="{{address.state}}">
                        <label for="City">City</label>
                        <input class="form-control my-2" type="text" name="city" id="City" value="{{address.city}}">
                        <label for="house">House No., Building Name</label>
                        <input class="form-control my-2" type="text" name="house_no" id="house" value="{{address.house_no}}">
                        <label for="Area">Area, Landmark</label>
                        <input class="form-control my-2" type="text" name="area" id="Area" value="{{address.area_landmark}}">
                    </div>
                    <div class="modal-footer">
                        <div class="col-6">
                            <a href="delete_address/{{address.id}}" class="btn btn-danger" style="border: none;">Delete</a>
                        </div>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save
                            Changes</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Address-2 -->
    <div class="modal fade pro-dtls" id="add-2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add-2Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-2Label">Address</h5>
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="saveaddress" , method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label for="Name">Name</label>
                        <input class="form-control my-2" type="text" name="addname" id="Name">
                        <label for="Tel">Mobile Number</label>
                        <input class="form-control my-2" type="number" name="mobile" id="Tel">
                        <label for="pin">Pin Code</label>
                        <input class="form-control my-2" type="number" min="0" step="any" name="pin" id="pin">
                        <label for="State">State</label>
                        <input class="form-control my-2" type="text" name="state" id="State">
                        <label for="City">City</label>
                        <input class="form-control my-2" type="text" name="city" id="City">
                        <label for="house">House No., Building Name</label>
                        <input class="form-control my-2" type="text" name="house_no" id="house">
                        <label for="Area">Area, Landmark</label>
                        <input class="form-control my-2" type="text" name="area" id="Area">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Changes
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modals End -->

</section>
{% endblock main_body %}
