{% extends "base.html" %} {% load static %} {% block title %}Active Sastre-Signup {% endblock title %} {% block main_body %}
<section>
    {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
             {% for message in messages %} {{message}} {% endfor %}.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <div class="header">
        <h1>Sign Up</h1>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-8 register mx-auto">
                <h4 class="fs-2">Create New Account</h4>
                <hr>
                <h6 class="fs-5 my-3">Please provide all required details to register</h6>
                <form action="/signup?referral={{ref}}" method="POST">
                    {% csrf_token %}
                    <input type="text" id="Fname" name="fname" placeholder="First Name">
                    <input type="text" id="lname" name="lname" placeholder="Last Name">
                    <!-- <input type="text" id="username" name="username" placeholder="User Name"> -->
                    <input type="email" name="email" placeholder="Email">
                    <input type="tel" name="phone" placeholder="Mobile No.">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="password" name="conpass" placeholder="Confirm Password">
                    <!-- <input type="file" src="" name="prof_img" alt=""> -->
                    <input type="Submit" Value="Register">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock main_body %}