To -do (10-08-2021)
1:- When user buy a product 
 1.a - then check user is applied any referral_id of any user's or not 
 1.b - if yes then check if he used his total num of offer or not if not: then
 1.c - if not used total then :
 1.d - if first-time product is buyed the : add 10% bonous on bonus account in whoes user who share the referral is and status is pending :
 1.e - when product is delivered then add to it with Total Product




 Models For Bonous Account:

 NAme:- User_Bonus:

    1:- user_id = user_id
    2:- total = total bonus of which  product is delivered
    3:- product_id = on which product bonous is given
    4:-status = delivered or not
    : if status is delivered then bonus is add to total else status is pending then this is add to total when product is delivered
    5:-user_who_buy_Product =  
    6:-date of product_delivery - 
    7:-and also date of bonus add on total bonos account
    8:- bonus referred by : Who Is buying Product and his status